@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="border">
    <div class="text-center mb-5">
    <h1 class="h1 text-primary"> Switch to customer account </h1>
    <a class=" btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index">GO</a>
</div>
</div>


<div class="border">
    <div class="text-center mb-5">
    <h1 class="h1 text-primary"> Look Your Company's Financial Table </h1>
    <a class=" btn btn-outline-primary" asp-controller="Home" asp-action="Index">GO</a>
</div>
</div>
