@model YumBurger_Asp_Mvc.UI.Models.Menu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="h1 text-primary text-md-center">Create</h1>

<h4 class="h4 text-primary text-md-center">Menu</h4>
<hr class="shadow-lg" />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-1">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" value="Product Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" value="100" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <label asp-for="PicturePath" class="control-label"></label>
                <input asp-for="PicturePath" type="file" class="form-control" />
                <span asp-validation-for="PicturePath" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
